.custom-checkbox .form-check-input {
  width: 22px;
  height: 22px;
  cursor: pointer;
  border: 2px solid #67ab9f;
  accent-color: #67ab9f; /* 체크 색상 */
  transform: scale(1.1);
}

.custom-checkbox .form-check-input:checked {
  background-color: #67ab9f;
  border-color: #67ab9f;
}

.custom-checkbox .form-check-input:hover {
  box-shadow: 0 0 0 3px rgba(103, 171, 159, 0.2);
}
