/* Signup.css */

.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    /* 페이지 높이를 넉넉하게 */
    padding: 40px 20px;
    background-color: #f7f7f7;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.signup-card {
    max-width: 600px;
    /* 폼 카드 최대 너비 */
    width: 100%;
    padding: 20px 30px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    background-color: #fff;

}

/* 카드 제목 (h2) */
.signup-card h2 {
    color: #555;
    border-bottom: 2px solid #67ab9f;
    /* 포인트 컬러 */
    padding-bottom: 30px;
    margin-bottom: 25px !important;
    /* 부트스트랩 mb-4 덮어쓰기 */
    font-weight: 700;
    text-align: center;
}

/* Form.Label */
.form-label {
    font-weight: 600;
    color: #808080ff;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Form.Control (input) */
.form-control:focus {
    border-color: #67ab9f;
    /* 포커스 시 포인트 컬러 */
    box-shadow: 0 0 0 0.25rem rgba(103, 171, 159, 0.25);
    /* 포커스 시 그림자 */
    margin-bottom: 30px;

}

/* 유효성 검사 에러 (isInvalid) */
.form-control.is-invalid:focus {
    border-color: #dc3545;
    /* 부트스트랩 기본 에러 색상 */
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.invalid-feedback {
    font-weight: 500;
}

/* 커스텀 버튼 (Primary) */
.btn-primary-custom {
    background-color: #67ab9f !important;
    border-color: #67ab9f !important;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 1rem;
    transition: all 0.3s ease;
    margin-top: 30px;
}

.btn-primary-custom:hover {
    background-color: #558c80;
    /* 호버 시 조금 더 어둡게 */
    border-color: #558c80;
}

.btn-primary-custom:focus,
.btn-primary-custom:active {
    background-color: #558c80;
    border-color: #558c80;
    box-shadow: 0 0 0 0.25rem rgba(103, 171, 159, 0.5);
}

/* 프로필 이미지  */
.profile-preview-container {
    text-align: center; /* 이미지 가운데 정렬 */
    margin-bottom: 10px;
}

.profile-preview-img {
    width: 120px;   /* 원하는 가로 크기 */
    height: 120px;  /* 원하는 세로 크기 */
    object-fit: cover; /* 비율 유지하면서 이미지 자르기 */
    border-radius: 50%; /* 원형으로 만들고 싶으면 */
    border: 2px solid #ccc; /* 선택 사항: 테두리 */
}