.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Home 화면 */

.carousel-caption.top-left {
  top: 40px;
  bottom: auto;
  left: 80px;
  transform: none;
  text-align: left;
  font-family: 'Gowun Batang', serif;

}

.main-font {
  font-family: 'Gowun Batang', serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.no-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.nav .nav-link {
  font-family: 'Gowun Batang', serif;
  font-size: "25px";
  color: #808080ff;
}

.detail {
  font-family: 'Gowun Batang', serif;
  font-size: "25px";
  color: #808080ff;
}

/* 탭 버튼바 전체 가로 100% */
.full-width-tabs .nav-tabs {
  display: flex;
  width: 100%;
}

/* 각 탭 버튼이 동일한 너비로 분할 */
.full-width-tabs .nav-item {
  flex: 1;
  text-align: center;
}

/* 탭 버튼 자체 스타일 */
.full-width-tabs .nav-link {
  width: 100%;
  font-size: 18px;
  padding: 15px;
}