/* Topbar 페이지에서 사용하는 CSS 형식 */


.topbar {
    height: 40px;
    background-color: #424242;
    color: #e0e0e0;
    padding: 0 20px;
    /* Add some padding on the sides */
    box-sizing: border-box;
    border-bottom: 1px solid #333;

    /* Flexbox layout */
    display: flex;
    align-items: center;
    /* Vertically centers both items */
    justify-content: space-between;
    /* Pushes items to opposite ends */
}

.userInfo {
    font-size: 14px;
    font-weight: bold;
}